*{
margin: 0;
padding: 0;
transition: none;
}


html{
scroll-padding-top: 70px;
overflow-x: hidden;
}

body{
 background-color: hsl(257, 60%, 6%);
}



.header{
 background-color: hsl(257, 60%, 6%);
position: fixed;
top: 0;
right: 0;
left: 0;
height: 70px;
z-index: 999;
box-shadow: 0 10px 30px rgba(220, 46, 226, 0.2);
/*border-bottom: 0.1px solid white;*/
}


.link{
color: #bd46db;
font-size: clamp(0.1px,5vw,20px);
}

.menu-icon{
color: #bd46db;
}

.logo a{
color: #064b03;
font-size:  clamp(0.1px, 10vw,35px);

}

.menu-bars,.menu-times {
font-size: clamp(0.1px, 8vw,30px);
cursor: pointer;
}

.menu-bars.active{
display: none;
}

.menu-times{
display: none;
}

.menu-times.active{
display: inline-flex;
}

.home{
background: hsl(257, 60%, 6%);
margin-top: 70px;
}

.home-text h2,h5,p{
color: rgba(220, 46, 226);

}
.home-text h2{
font-size: clamp(0.1px, 2vw, 25px);
}
.home-text h5{
font-size: clamp(0.1px, 2vw, 20px);
}

.home-text p{
font-size: clamp(0.1px, 2vw, 16px);
}
.home-button, .about-button {
border-style: solid;
border-width: 1px;
color: rgba(220, 46, 226);
font-size: clamp(0.1px, 2vw, 20px);
border-color: rgba(220, 46, 226);
}

.home-button:hover, .about-button:hover{
background: rgba(220, 46, 226);
color: hsl(257, 60%, 6%);

}

.home-img{
width: clamp(0.1px, 30vw, 300px);
height: clamp(0.1px, 30vw, 300px);
animation: imganim 2s ease-in-out infinite alternate;
}


#about{
background: hsl(257, 60%, 6%);
}

.about-header h1,.skills-header h1,.contact-header h1{
color: rgba(220, 46, 226);
font-size: clamp(0.1px, 5vw, 50px);
}

#about img{
width: clamp(0.1px, 22vw, 380px);

}

.about-text h2{
font-size: clamp(0.1px, 2vw, 23px);
}

.about-text p{
font-size: 
clamp(0.1px, 2vw, 16px);
}

#skills{
background: hsl(257, 60%, 6%);
}

#skills img{
 width: clamp(0.1px, 22vw, 50px);
height: clamp(0.1px, 22vw, 50px);
}


#skills .col-md-3{
background: hsl(258, 87%, 3%);
border-radius: 5px;
transform: scale(1);
 transition: transform 0.4s linear; 

}

#skills .col-md-3:hover{
   transform: scale(1.05);
}

#skills .HTML{
box-shadow: 0px 8px 4px rgb(236, 98, 6);
}
#skills .CSS{
box-shadow: 0px 8px 4px rgb(24, 114, 156);
}

#skills .JavaScript{
box-shadow: 0px 8px 4px rgb(255, 134, 63);
}
#skills .Python{
box-shadow: 0px 8px 4px rgb(223, 226, 46);
}

#skills .React{
box-shadow: 0px 8px 4px rgb(4, 243, 252)
}

#skills .Django{
box-shadow: 0px 8px 4px rgb(45, 255, 157)
}

#skills .Bootstrap{
box-shadow: 0px 8px 4px rgb(110, 16, 233)
}




#skills .col-md-3 h5{
color: #a3a3a3;
font-weight: bold;
font-size: clamp(0.1px, 2vw, 20px);
}
#skills .col-md-3 p{
color: rgb(83, 46, 46);
font-size: clamp(0.1px, 2vw, 16px);
}
 #skills .col-md-3 a{
background:  rgba(220, 46, 226);
border-style: solid;
border-width: 1px;
color: hsl(257, 60%, 6%);
font-size: clamp(0px, 1.3vw, 16px);
border-color: rgba(220, 46, 226);
letter-spacing: 0px;
transition: letter-spacing 1s ease-in-out;
}

#skills .col-md-3 a:hover{
letter-spacing: 2px;
}

#contact{
background: hsl(257, 60%, 6%);
}

#contact h4,.info div{
 color: rgba(220, 46, 226);
}

#contact h4{
font-size:clamp(1px, 2vw, 22px) ;
}

#contact p{
font-size:clamp(1px, 2vw, 16px) ;
}

.info div{
font-size:clamp(1px, 2vw, 16px) ;
}

#contact .send{
font-size: clamp(0.05px, 1.3vw, 12px);
}

@keyframes imganim {
   from{
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

to{
border-radius: 53% 47% 44% 56% / 30% 49% 51% 70%;
}

}

#contact label{
font-size: clamp(1px, 2vw, 16px);
color: rgba(220, 46, 226);
}


#contact .info{
display: flex;
padding-left: 20px;
}


.asteriskField{
 display: none;
}

.info-icon{
display: flex;
align-items: center;
padding-right: 10px;
}

.footer{
background-color: hsl(257, 60%, 6%);
height: 63px;
border-top: 1px solid rgba(220, 46, 226);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:1000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 60%, 6%);
}

#preloader {
  border: 6px solid #fff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.nav .nav-links a{
opacity: 0;
}


@media (max-width: 767px) {
  
.nav{
 display: flex;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 height: 100vh;
 align-items: center;
 justify-content: center;
 transform: translateX(100%);
 transition: all  0.5s ease  ;
    }


.nav.active{
 background: #fff;
 transform: translateX(0%);
 color: #bd46db;
 transition: all  0.5s ease  ;
 
}



.nav .nav-links a{
 display: block;
 text-align: center;
 font-size: 30px;
 margin: 50px 30px;
 color: #bd46db;
 opacity: 1;
 transition: all  0.5s ease  ;
}


}

